{% extends 'base.html' %}

{% block css %}
{% endblock %}



{% block content %}

   <h2>未分组</h2>
{% for item in ugroup_host %}
    <div class="checkbox">
        <label>
          <input type="checkbox" name="selected_host" value="{{ item }}"> {{ item }}
        </label>
      </div>



{% endfor %}


    <input type="text" name="cmd" />

    <button id="btn" class="btn btn-success">提交</button>{% csrf_token %}



{% endblock %}





{% block script %}

         <script>
      $(function () {
          $('#opt1').removeClass('active')
          $('#opt3').addClass('active')
          bind_task();

      })

         function bind_task() {
            $('#btn').click(function () {
                var data1=$('input:checked').serialize()
                var  cmdstr=$('input[name="cmd"]').val()
                data1+="&cmd="+ cmdstr
                console.log(data1)
                $.post('{% url "muilt_cmd" %}',data1)

            })
         }


    </script>

{% endblock %}