{% extends 'base.html' %}

{% block css %}
{% endblock %}



{% block content %}

   <h2>未分组</h2>
{% for item in ugroup_host %}
    <div class="checkbox">
        <label>
          <input type="checkbox" name="selected_host" value="{{ item.id }}"> {{ item }}
        </label>
      </div>



{% endfor %}


    <input type="text" name="cmd" />

    <button id="btn" class="btn btn-success">提交</button>{% csrf_token %}

    
   <!--write the result -->
   <div id="result">
      
   </div>


{% endblock %}





{% block script %}

         <script>
      $(function () {
          $('#opt1').removeClass('active')
          $('#opt3').addClass('active')
          bind_task();
          

      })  





function getChkValue(val){  
    var obj=document.getElementsByName("selected_host");  
    for(var i=0;i<obj.length;i++){  
         if (obj[i].value==val){
           return  obj[i].nextSibling.nodeValue
          }
       
    }       
    
}  




  
           //$.ajaxSetup({async : false});
            pid=0
         function bind_task() {
            $('#btn').click(function () {
                var data1=$('input:checked').serialize()
                var  cmdstr=$('input[name="cmd"]').val()
                data1+="&cmd="+ cmdstr
                console.log(data1)
                $.post('{% url "muilt_cmd" %}',data1,function(data){
			pid=JSON.parse(data);
                        
                        
                        
		})
               console.log(pid)
	       p=setInterval(function () {
                     $.get('{% url "muilt_cmd" %}',{'task_id':pid},function(data){
                         if (data!=null){
                           
			//write the result to the html
                            var ele_div=$('#result')
                            var ele_val=$('input[name="selected_host"]')
                            ret=JSON.parse(data)
                            for (var key in ret ){
                                var ttt=getChkValue(ret[key].bind_host)
                                ele_div.append(ttt)
                                ele_div.append(ret[key].result)
                                ele_div.append(ret[key].event_log)
                              
                                
                             }
		           


                           clearInterval(p)
                           

                         }
                     })
                    },5000)

            })
         }


    </script>

{% endblock %}
